*{
    margin: 0;
    padding: 0;
}


  ul{
      list-style-type: none;
  }
.box{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.list-box{
    margin: 0 auto;
    width: 1100px;
    height: 42px;
    border-bottom: 1px solid #eeeeee;
}
.box-type{

}
.list{
    float: right;
    padding-top: 10px;
}

.list-box ul li{
    cursor: pointer;
    width: 30px;
    height: 26px;
    float: left;
    display: block;
    background: url("../images/listype-icon.png") no-repeat;
}

.changelist .list-1-o{
    height: 380px;
    width: 268px;
    border: 1px solid #aaaaaa;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.changelist .list-1-o .listinfo{
    float: left;
    width: 268px;
    height: 170px;
}
.changelist .list-1-o .listinfo img:hover{
    transform: rotate(360deg) scale(0.9);
}
.changelist .list-1-o .listinfo1{
    text-indent: 2em;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.changelist .list-1-o .listinfo1 span{
    font-size: 15px;
}
.changelist .list-1-o img{
    width: 268px;
    height: 170px;
}
.changelist .list-2-v{
    width: 1200px;
    margin-bottom: 5px;
    height:150px;
}
.changelist .list-2-v .listinfo{
    float: left;
    width: 268px;
    height: 150px;
}
.changelist .list-2-v .listinfo1{
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    width: 900px;
    height: 150px;
}
.changelist .list-2-v img{
    float: left;
    width: 268px;
    height: 150px;
}
.changelist .list-2-v img:hover{
    transform: rotate(360deg) scale(0.9);
}
.changelist .list-2-v span{
    text-indent: 2em;
    font-size: 15px;
    float: left;
}